<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('收支明细列表')" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>收支编号：</label>
                            <input type="text" name="id"/>
                        </li>
                        <li>
                            <label>收/支：</label>
                            <select name="inOutFlag" th:with="type=${@dict.getType('in_out_money_type')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>收支分类：</label>
                            <select name="type" th:with="type=${@dict.getType('money_use_type')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>金额：</label>
                            <input type="text" name="amount"/>
                        </li>
                        <li class="select-time">
                            <label>收款/付款时间：</label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginPayTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endPayTime]"/>
                        </li>
                        <li>
                            <label>用途大类：</label>
                            <select name="useMasterType" th:with="type=${@dict.getType('money_use_master_type')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>支付/收款方式：</label>
                            <select name="payType" th:with="type=${@dict.getType('pay_type')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>收款账号：</label>
                            <input type="text" name="colAccount"/>
                        </li>
                        <li>
                            <label>付款账号：</label>
                            <input type="text" name="payAccount"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="finance:inOutMoney:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="finance:inOutMoney:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="finance:inOutMoney:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="finance:inOutMoney:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" id="picUploadDiv" style="display: none">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="font-noraml">多文件上传</label>
                        <div class="file-loading">
                            <input id="multipleFile" name="files" type="file" multiple>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-fileinput-js" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('finance:inOutMoney:edit')}]];
    var removeFlag = [[${@permission.hasPermi('finance:inOutMoney:remove')}]];
    var inOutFlagDatas = [[${@dict.getType('in_out_money_type')}]];
    var typeDatas = [[${@dict.getType('money_use_type')}]];
    var useMasterTypeDatas = [[${@dict.getType('money_use_master_type')}]];
    var payTypeDatas = [[${@dict.getType('pay_type')}]];
    var prefix = ctx + "finance/inOutMoney";

    //全局变量
    var picBeLongInfo = {
        belongId: -1
    };

    function getBeLongInfo() {
        return picBeLongInfo
    }

    $(document).ready(function () {
        // 多图上传
        $("#multipleFile").fileinput({
            uploadUrl: ctx + 'common/uploads',
            uploadAsync: false,
            uploadExtraData: getBeLongInfo
        }).on('filebatchuploadsuccess', function (event, data, previewId, index) {
            var rsp = data.response;
            log.info("upload msg: " + data.msg)
            log.info("return urls：" + rsp.urls)
            log.info("reutrn fileNames：" + rsp.fileNames)
            log.info("reutrn newFileNames：" + rsp.newFileNames)
            log.info("return originalFilenames：" + rsp.originalFilenames)
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        })
    });

    function getPic(id) {
        //查询图片表

        $.ajax({
            type: "POST",
            url: "inOutMoney/picList",
            data: {
                "id":id
            },
            success: function(data) {
                if (data.code == 0) {
                    if (data.total < 1) {
                    } else {
                        //显示图片
                        showPic(data.rows)

                    }
                }
                else {
                    alert("查询图片失败!");
                    return false;
                }
            }


        });

    };

    function showPic(picList) {

        var dataArr = [];
        for (var pic of picList) {
            var picData = {};
            picData.pid = 1;
            picData.src = pic.picPath;
            picData.thumb = pic.picPath;
            dataArr.push(picData)
        }
        var json = {
            "title": "票据图片", //相册标题
            "id": 123, //相册id
            "start": 0, //初始显示的图片序号，默认0
            "data": dataArr
        };
        layer.photos({
            photos: json,
            closeBtn: 0, //右上角按钮，可通过配置1和2来展示，如果不显示，则closeBtn: 0
            anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        });
    };

    function uploadPic(id) {
        picBeLongInfo.belongId = id;
        if (picBeLongInfo.belongId < 1) {
            return
        }
        layer.open({
            type: 1,
            shade: 0.4,
            title: false, //不显示标题
            content: $('#picUploadDiv'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
            cancel: function(){
                picBeLongInfo.belongId = -1;
            }
        });
    }


    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "收支明细",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '收支编号'
                },
                {
                    field: 'inOutFlag',
                    title: '收/支',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(inOutFlagDatas, value);
                    }
                },
                {
                    field: 'type',
                    title: '收支分类',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(typeDatas, value);
                    }
                },
                {
                    field: 'amount',
                    title: '金额'
                },
                {
                    field: 'payTime',
                    title: '收款/付款时间'
                },
                {
                    field: 'useMasterType',
                    title: '用途大类',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(useMasterTypeDatas, value);
                    }
                },
                {
                    field: 'payType',
                    title: '支付/收款方式',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(payTypeDatas, value);
                    }
                },
                {
                    field: 'payer',
                    title: '付款人'
                },
                {
                    field: 'payee',
                    title: '收款人'
                },
                {
                    field: 'colAccount',
                    title: '收款账号'
                },
                {
                    field: 'payAccount',
                    title: '付款账号'
                },
                {
                    field: 'billPic',
                    title: '票据图片',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<button type="button" class="btn btn-primary" onclick="getPic(\'' + row.id + '\')">查看图片</button>');
                        actions.push('<button type="button" class="btn btn-primary" onclick="uploadPic(\'' + row.id + '\')">上传图片</button>');
                        return actions.join('');
                    }
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }
            ],
            rowStyle : function (row, index) {
                console.log(row.inOutFlag)
                if (row.inOutFlag == 1) {
                    return  {css:{"background-color":'rgba(26, 179, 148,0.3)'}};
                }
                if (row.inOutFlag == 2) {
                    return  {css:{"background-color":'rgba(248, 172, 89,0.3)'}};
                }

            }
        };
        $.table.init(options);

    });
</script>
</body>
</html>